.category {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.category .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.category .icon_container{
  background: #222;
  padding: .3rem .4rem;
  display: none;
}

.category .icon{
  background: #222;
  position: relative;
  width: 1rem;
  height: 1rem;
}

@media (max-width:768px) {
  .category{
    padding: 0;
  }
  .category .icon_container{
    display: block;
  }
}