.dropdown-main{
    display: block;
    padding-bottom: 10px;
    transition: all 1s ease-in-out;
}


.drop-container {
    min-width: 12.5rem;
    padding: 0.62rem;
    border-radius: 0.5rem;
    background: #F2F2F2;
    user-select: none;
}


.dropdown-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-group{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.drop-container .icon{
    position: relative;
    width: 20px;
    height: 20px;
}
.drop-container .subitems{
    margin-top: 10px;
    padding-left: 0.2rem;
    transition: all 1s ease-in-out;
    animation: fadeInHeight 0.2s ease-in-out forwards;
}

.subitems .dropdown-item{
    padding-top: 12px;
}


  @keyframes fadeInHeight {
    from { opacity: 0; height: auto; }
    to { opacity: 1; height: auto; } /* Or set a specific height */
  }


/* DropdownMobile */

.dropdown-mobile{
    display: none;

}

.desktop{
    display: block;
}

@media (max-width:768px) {
    .dropdown-mobile{
        position: relative;
        width: 94vw;
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
    
    }

    .dropdown-mobile::-webkit-scrollbar { /* For Chrome, Safari, and Opera */
        display: none;
      }
    .desktop{
        display: none;
    }

    .drop-container{
        width: max-content;
    }

}