.maincontainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-x: hidden;

}
.mainlayout {
  display: grid;
  grid-template-columns: 18% 60% auto;
  gap: 12px;
  
}
@media (max-width: 768px) {
  .mainlayout {
    grid-template-columns: 1fr;
  }
}
