:root{
    --primary-color: white;
    --font-poppins: var(${poppins.variable});

}

body{
    background: #EBEBEB;
    font-family: var(--font-poppins);
    overflow-x: hidden;
}
p{
    margin: 1px;
}