.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.close{
  position: fixed;
  top: 3%;
  left: 90%;
}

@media (max-width: 768px) {
  .overlay {
    display: flex;
  }
}
