.maincontainer {
  padding: 20px 18px;
  border-radius: 8px;
  background: #fff;
}

.itemcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}
.headingcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-bottom: 16px;
}
